<?php
return array(
    'swagger' => array(
        // List a path or paths containing Swagger Annotated classes
        'paths' => array(
            __DIR__ . '/../../module/Application/src/Application/Controller',
        ),
    ),
);